.home-container {
    background-image: url('/background.jpeg');
    /* Path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home-content {
    background: rgba(0, 0, 0, 0.5);
    /* Add a slight background to make text readable */
    padding: 2rem;
    border-radius: 10px;
}